.pagina-inicio {
    margin-top: 60px;
    border-radius: 15px;
    background: white url("../img/simple-background-info.svg") right bottom no-repeat;
    background-size: 35vw;
    height: 75vh;
}

.pagina-inicio h2 {
    padding: 15px;
    text-align: center;
}

.pagina-inicio hr {
    margin-top: -10px;
    width: 50vw;
}

.pagina-inicio p {
    font-size: 19px;
    padding-top: 25px;
    padding-left: 25px;
}